:root {
    --main-wit: #f0f0f0;
    --main-rood: #cd0a2b;
    --main-blauw: #0a92cd;
    --main-grijs: #303841;
    --main-groen: #0bca07;
    --main-speedometer:#101417;
    --main-speedometerborder:#354D63;
    --main-bg-color: #0B1522;
    --main-textcolor: #333;
    --main-font: "Exo", sans-serif;
    ::-webkit-scrollbar {
        display:none;
        }
    label {
        cursor: pointer; /* Maak de label klikbaar */
    }
}
@media screen and (orientation:portrait) {
    div {
        display:none;
    }
    h2 {
        display:flex;
        color: var(--main-textcolor);
        z-index: 999;
        text-align: center;
        justify-content: center;
        margin-top: 10em;
        margin-left:3.5em;
    }
}

@media screen and (orientation:landscape) {
    h2 {
        display: none;
    }
}

/* Mobiel in landscape-modus (minimale breedte 480px) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* Voeg hier je stijlen toe voor mobiel in landscape-modus */
    body {
        transform: scale(50%);
    }
}

/* Tablet in landscape-modus (minimale breedte 768px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Voeg hier je stijlen toe voor tablet in landscape-modus */
    body {
        transform: scale(80%);

    }
}

/* Desktop (minimale breedte 1024px) */
@media only screen and (min-width: 1024px) {
    /* Voeg hier je stijlen toe voor desktop */
}

body {
    background-color: var(--main-bg-color);
    font-family:var(--main-font);

}
main {
    display:block;
    justify-content: center;
    align-content: center;

}

/*Knipperlichten met animatie*/

main > div:first-of-type {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:10em;
    height: 5em;
    gap: 70em;
    left: 11%;

    && img {
        width:10em;
        opacity: 0;
    }

}
html:has(input[value="leftblinker"]:checked) #leftblinker{
    animation: gloedAnimatie 1s ease-in-out infinite;

}
html:has(input[value="rightblinker"]:checked) #rightblinker{
    animation: gloedAnimatie 1s ease-in-out infinite;
}


main > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-content: center;
}


input[type="radio"] {
    /*Hier haal ik de bolletjes weg om alleen de text zichtbaar te maken.*/
    appearance: none;
}
main > div:nth-of-type(2) > div:first-of-type{
    display: block;
    align-content: center;
    margin-right: -10em;

    && form > label {
        display: block;
        top: 10em;
        width: 15em;
        font-size: 2em;
        left: 4em;
        color: var(--main-wit);
    }
}

 input:after {
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    border: 0.4em solid;
    text-align: center;
    line-height: 2em;
    font-family: "Inter-BoldItalic", Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: var(--main-wit);
}


    /*focus en hover state rijmodus*/
input[value="sport"]:hover:after,
input[value="sport"]:checked:after {
         display: block;
         border-color: var(--main-rood);
         background: linear-gradient(180deg, rgb(205, 10, 43) 0%, rgb(0, 0, 0) 100%);
         content: "S";
     }
input[value="comfort"]:hover:after,
input[value="comfort"]:checked:after{
    display:block;
    border-color: var(--main-blauw);
    background: linear-gradient(180deg, rgb(10, 146.5, 205) 0%, rgb(0, 0, 0) 100%);
    content: "C";
}
input[value="eco"]:checked:after,
input[value="eco"]:hover:after{
    display:block;
    border-color: var(--main-groen);
    background: linear-gradient(180deg, rgb(14, 190, 10) 0%, rgb(0, 0, 0) 100%);
    content: "E";
}
form >label:hover, label:focus-visible{
    /*color:red;*/
    text-decoration:underline white 0.2em;
}

/*kmteller/toerenteller */
main > div:nth-of-type(2) > div:nth-of-type(2) >  form {
    width:35em;
    height:35em;
    background:var(--main-speedometer);
    border: var(--main-speedometerborder) solid 0.5em;
    border-radius: 50%;
    margin: 3em;
    display: grid;
    grid-template-areas:
            "twee drie vier vijf"
            "een h h zes"
            "nul h h zeven";
    /*nul*/
    & fieldset:first-of-type {
        grid-area: nul;
        translate: 1em -1em;
    }
    /*duizend*/
    & fieldset:nth-of-type(2) {
        grid-area: een;
        position: relative;
        top: 6em;
    }
    /*tweeduizend*/
    & fieldset:nth-of-type(3) {
        grid-area: twee;
        position: relative;
        top: 7em;
        left: 3em;
    }
    /*drieduizend*/
    & fieldset:nth-of-type(4) {
        grid-area: drie;
        position: relative;
        left: 5em;
        top: 2em;
    }
    /*vierduizend*/
    & fieldset:nth-of-type(5) {
        grid-area: vier;
        position: relative;
        left: 5em;
        top: 2em;
    }
    /*vijfduidzend*/
    & fieldset:nth-of-type(6) {
        grid-area: vijf;
        position: relative;
        left: -3em;
        top: 7em;
    }
    /*zesduizend*/
    & fieldset:nth-of-type(7) {
        grid-area: zes;
        position: relative;
        top: 6em;
    }
    /*zevenduizend*/
    & fieldset:nth-of-type(8) {
        grid-area: zeven;
        position: relative;
        left: -1em;
        top: -1em;
    }
    /*kmteller*/
    & fieldset:nth-of-type(9) {
        grid-area: h;
        height: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 2em;

    }
    & fieldset > label {
        font-size: 3em;
        color: white;
        /*grid-area:2/2/4/4;*/
    }
    & fieldset:last-of-type {
        font-size: 3em;
    }
    & fieldset {
        border: none;
    }
    & label[for=snelheid]{
         display:flex;
         justify-content: center;
     }

    & fieldset > img {
        height: 2em;
    }
}
/*maps iframe custom propertys*/

main > div:nth-of-type(2) > div:nth-of-type(3){
    display: block;
    position:relative;
    top:9em;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    width: 500px;
    height: 25.3em;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Maakt de scrollervaring soepeler op iOS-apparaten */

    & div {
        scroll-snap-align: start;
    }
     & iframe {
        border-radius:12px;
        border:none;

    }
}


/*dit is de snelheidsnaald*/
#naald {
    position: relative;
    width: 0.5em;
    height: 12em;
    background-color: var(--main-rood);
    grid-area:h;
    transform-origin: center calc(100% - .25em);

    /*animation: speedup 1s ease-in-out 6s;*/
    transition: 2s ease-out;


    z-index: 20;
    justify-self: center;
    align-self: start;

    translate:0em -4em;
    rotate:-125deg;

    clip-path:polygon(30% 0, 70% 0, 100% 100%, 0 100%, 20% 0);
    border-radius: 0 0 1em 1em;
}


/*hier is de widget aan de rechterkant*/
main > div:nth-of-type(2) > div:nth-of-type(3) > div:nth-of-type(3) {
    margin-left:2em;
    height:100%;
    margin-top: 5em;
    color: var(--main-wit);
    /*auto foto */
    & > img {
        width:100%;
        height:250px;
    }
/*    de bandenspannings meter*/
    & > div {
        display:flex;
        justify-content: space-between;
    }
    /*De bovenste 2 waarden*/
    & p  {
        font-size: 2em;
        margin: 0;
    }
}

main > div:nth-of-type(3) {
    display:flex;
    justify-content: center;
    gap: 3em;
    z-index: 2;
    position: relative;


    && button {
            width: 100px;
            height: 50px;
            background-color: var(--main-textcolor);
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            position: relative;
            transition: transform 0.3s;
        }

        button:active {
            transform: translateY(10px); /* Verplaats de knop naar beneden wanneer ingedrukt */
        }

    & input[type="checkbox"] {
        display: none; /* Verberg de standaard checkbox */
    }
    & label {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 10px;
        cursor: pointer;
        background-color: var(--main-textcolor); /* Stijl verandering wanneer aangevinkt */
        border-radius: 5px;
        color:white;
    }

    }



html:has( [value="sport"]:checked ) main div:nth-of-type(2) {
    --main-speedometerborder: var(--main-rood);
}
html:has( [value="comfort"]:checked ) main div:nth-of-type(2) {
    --main-speedometerborder: var(--main-blauw);
}
html:has( [value="eco"]:checked ) main div:nth-of-type(2) {
    --main-speedometerborder: var(--main-groen);
}

html:has(button[value="gasgeven"]:active) #naald {
    rotate: 112deg;

}
html:has(input[value="gordel"]:checked) #gordel {
    transition: 0.2s ease-in-out;
    opacity: 0;
}

html:has(input[value="gordel"]) #gordel {
    transition: 0.2s ease-in-out;
    opacity: 1;
}

html:has(input[value="handrem"]:checked) #handrem {
    transition: 0.3s ease-in-out;
    opacity: 0;
}

html:has(input[value="handrem"]) #handrem {
    transition: 0.3s ease-in-out;
    opacity: 1;
}

html:has(input[value="motorlampje"]:checked) #motorlampje {
    transition: 0.3s ease-in-out;
    opacity: 1;
    animation: gloedAnimatie 1s infinite;

}

html:has(input[value="motorlampje"]) #motorlampje {
    transition: 0.3s ease-in-out;
    opacity: 0;

}
.gloed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(255,0,0,0) 0%, rgba(255,0,0,0.8) 70%);
    animation: gloedAnimatie 1s infinite;
    display:none;

}
html:has(input[value="motorlampje"]:checked)  div:first-of-type {
    display: block;
    z-index: 1;
}



    body > div:nth-of-type(2){
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadeOut 1s forwards 5s;
        z-index: 999;

        & > div {
            position: absolute;
            color: var(--main-wit);
            font-size: 5em;
            text-align: center;
            opacity: 1;
            animation: fadeOut 1s forwards 5s;
        }
        & h1 {
            overflow: hidden;
            white-space: nowrap;
            animation: typing 1s steps(20) 1s forwards;
            &:before {
                content:"\2707";
            }
        }
    }




    @keyframes typing {

        from { width: 0 }
        to { width: 100% }
    }

    @keyframes fadeOut {
        from {
            opacity: 1
        }
        to {
            opacity: 0;
            display: none;
        }
    }


@keyframes gloedAnimatie {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}